PORT=3000
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=YOUR_ACCOUNT_NAME;AccountKey=YOUR_ACCOUNT_KEY;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER_NAME=lablingo-documents
MAX_UPLOAD_SIZE_MB=20
SUPABASE_URL=https://wwjljawhefigdkxuospr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3amxqYXdoZWZpZ2RreHVvc3ByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNTg4OTQsImV4cCI6MjA4OTgzNDg5NH0.Bb4Z3Sq_Gfgx2SsBAzSQ1Shwfk0V-fc9pXxwT221UYw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3amxqYXdoZWZpZ2RreHVvc3ByIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI1ODg5NCwiZXhwIjoyMDg5ODM0ODk0fQ.uvfWTd5HwnEkgYb-_hDi9SDxWgq4w6l7dx-5uZuZ2FA
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.wwjljawhefigdkxuospr.supabase.co:5432/postgres
